.page-enter-active {
 animation: enter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page-leave-active {
 animation: leave 0.3s;
}

.c-red {
  color: #fb7185;
}
.c-purple {
  color: #7e22ce;
}

// 动画在快速点击切换路由的时候，dom insertBefore 会报错
@keyframes enter {
  from {
    transform: translateY(.625rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leave {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(.625rem);
    opacity: 0;
  }
}

@import './theme.scss';
@import './reset.scss';