body {
  padding: 0;
  margin: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  Segoe UI Symbol, "Noto Color Emoji";
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
}

a.header-achor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: .85em;
  opacity: 0;
  color: inherit;
  text-decoration: none;
  border-bottom: none !important;
}

h2, h3, h4, h5, h6 {
  &:focus, &:hover {
    .header-achor {
      opacity: 0.5;
    }
  }
}

.prose {
  a {
    font-weight: inherit;
    text-decoration: none;
    transition: border .3s ease-in-out;
    border-bottom: 1px solid rgba(125,125,125, 0.3);
    &:hover {
      border-color: rgb(125,125,125);;
    }
  }
  blockquote {
    border-left: 0.25em solid #7d7d7d4d;
  }
}