:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #fff;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --block-bg: #f8f8f8;
  --tag-blue: #60a5fa2a;
}

.dark {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --block-bg: #142f45;
  --tag-bg: #142f45;
  --tag-color: #eff6ff;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.2s;
}
a {
  color: var(--color-primary);
}
