:root {
  --color: #000;
  --bg: #fff;

  --prose-ul-list-style-type: disc;
  --prose-ul-margin: 32px 0;
  --prose-ul-padding: 0 0 0 21px;
  --prose-ul-li-marker-color-light: #d4d4d8;
  --prose-ul-li-marker-color-dark: #27272a;
  --prose-ol-list-style-type: decimal;
  --prose-ol-margin: 32px 0;
  --prose-ol-padding: 0 0 0 21px;
  --prose-ol-li-marker-color-light: #71717a;
  --prose-ol-li-marker-color-dark: #71717a;
  --prose-li-margin: 16px 0;
  --prose-li-list-style-position: outside;
}

.dark {
  --color: #fff;
  --bg: #111;
}

body {
  background-color: var(--bg);
  color: var(--color);
}
